<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Animu</h1>
    <h3>Create your anime lists!</h3>
  </div>
</div>

<h2>Your Anime List</h2>
<% @lists.each do |list| %>
  <p><%= list.name %></p>
<% end %>

<h2>Top 50 animes</h2>
<div class="anime-container ">
  <% @animes.each do |anime| %>
    <div class="anime-card">
      <div class="anime-poster">
        <img src="<%= anime.poster_url%>" alt="<%= anime.title_eng%>'s poster">
      </div>
      <div class="anime-title d-none">
        <p><%= anime.title_jp %></p>
        <p><%= anime.title_eng %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Add new list', new_list_path %>
