<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drz5wfo4e/image/upload/v1638987923/pexels-alex-knight-2816903_ukstra.jpg);">
  <%= render "shared/navbar"%>
  <div class="container">
    <h1>Animu</h1>
    <h3>Create your anime lists!</h3>
  </div>
</div>
<div class="body-frame">
  <div class="title d-flex">
  <h2>Your Anime List</h2>
  <%= link_to new_list_path do %>
    <i class="fas fa-plus"></i>
  <% end %>
  </div>
  <div class="anime-list-container d-flex">
    <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? "#{cl_image_path(list.photo.key)}" : "http://source.unsplash.com/featured/?#{list.name}&#{rand(1000)}"%>)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="title"><h2>Top 50 Anime</h2></div>
  <div class="animes-container ">
    <% @animes.each do |anime| %>
      <div class="anime-card">
        <div class="anime-poster">
        <%= link_to anime_path(anime) do %>
          <img src="<%= anime.poster_url%>" alt="<%= anime.title_eng%>'s poster">
        <% end %>
        </div>
        <div class="anime-title d-none">
          <p><%= anime.title_jp %></p>
          <p><%= anime.title_eng %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
